body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.display {
  padding: 20px;
  font-size: larger;
}

.scores {
  font-size: large;
}

#playerScore #computerScore {
  font-weight: 900;
  font-size: x-large;
}

.btns {
  padding: 5px;
  margin: 10px;
}
